html {
    scroll-behavior: smooth;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0.75rem;
    background: #000717;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3rem;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 3rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

.carousel-item {
    padding: 0 20%;
}
